body{
  background-color: black;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  text-align: left;
  margin-top: 100px;
}

#btn-sesion{
  background-color: 'blue';
  color: wheat;
}